UPLOAD_FOLDER = "/data/files/"
FILE_LIST = "/data/uploaded_files_jsondb"
TMP_FOLDER = "/data/tmp"
EXPIRE = 86400
DEBUG_PORT = 5000

# List of features you want to disable
# Allowed value : delete, ls
DISABLED_FEATURE = 'ls'

# When true, upload responses and /<id>/infos URLs include the file's
# extension (e.g. http://.../<md5>.png). Routes always accept both
# /<md5> and /<md5>.<ext>.
EXPOSE_EXTENSION = 'true'
